#about
  %h1 About BlocMetrics
  %p BlocMetrics is a web analytics platform built using Ruby on Rails and javascript. It was created by #{link_to 'Spencer Neff', 'http://neffnet.net'} and his mentor at #{link_to 'Bloc.io', 'http://bloc.io'}.
  %p The source is hosted on #{link_to 'Github', 'http://github.com'} if you'd like to follow along.