/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require purecss

 */

$red: #C30B38;
$orange: #D1610F;
$greenish: #B3A724;
$green: #5FB324;
$bluish: #92BBAA;
$gray: #605058;

body {
  color: $gray;
  background-color: $bluish;
  a:visited{color:inherit;}
  a:hover{color: white;}
  font-size: 115%;
}

#container {
  border-top: 12px solid $red;
  border-bottom: 12px solid $gray;
}

#main-flash {
  position: fixed;
  z-index: 3;
  right: 5em;
  top: 2.1em;
  padding: 1em;
  border-radius: 1em;
  max-width: 33%;
  opacity: 0.9;
}
#main-flash.success { background-color: $green; }
#main-flash.alert { background-color: $orange; }

.pad-box {padding: 1em;}

#left-bar {
  background-color: $red;
  color: $bluish;
  min-height: 575px;
  word-wrap: break-word;
  border-radius: 0 15em/1.1em;
  
  a{color:$bluish;}
  h2 a {color:$gray;}
  a:hover{color:white;}

  #user-status{
    position: relative;
    top: -20px;
  }

  form {
    position: relative;
    top:-15px;
  }

  input {max-width: 100%;}

  .pure-button-primary {
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding: .5em 0;
  }
  .sign_in_btn {
    background: $green;
    box-shadow: inset 0 0 0 0 $green;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
  }
  .sign_in_btn:hover {
    box-shadow: inset 200px 0px 0px 0 white;
    color: $green;
  }
  .sign_up_btn {
    background: $orange;
    box-shadow: inset 0 0 0 0 $orange;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s
  }
  .sign_up_btn:hover{
    box-shadow: inset 0 100px 0 0 white;
    color: $orange;
  }

  #left-links {
    position: relative;
    left: -10px;
    top: -1em;
  }
}

#user-show {

  #user-stats {

    .pad-box {
      min-height: 500px;
      border-left: 2px solid $gray;
    }
  }

}

#home-link {
  text-align: center;
  position: relative;
  top: -0.8em;
  word-wrap: break-word;
}

.hugest {
  font-size: 1800%;
  word-wrap: break-word;
  line-height: 0.75em;
  letter-spacing: -34px;
  color: $orange;
  font-weight: bold;
  margin: 0px;
}